/* src/components/About.module.css */
.about {
    background-color: #f4f4f4;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .about p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
    max-width: 600px;
    margin: 0 auto;
  }
  .aboutSection {
    padding: 2rem 4rem; /* 상하 2rem, 좌우 4rem의 패딩 */
    text-align: left; /* 글자들을 좌측 정렬 */
  }
  
  .aboutContent {
    max-width: 800px; /* 내용의 최대 너비를 제한하여 가독성 개선 */
    margin: 0 auto; /* 가운데 정렬을 유지하면서 좌측 정렬 */
  }
  