/* src/components/Navbar.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
  }
  
  .navbar h1 {
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .navLinks li {
    margin: 0;
  }
  
  .navLinks a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .navLinks a:hover {
    color: #00d8ff;
  }
  html {
    scroll-behavior: smooth;
  }