.projects {
  padding: 2rem;
  background-color: #fff;
  text-align: center;
}

.projectList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.images {
  display: flex;
  gap: 10px;
  flex: 1;
  justify-content: center;
}

.projectImage {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
}

.projectContent {
  flex: 1;
  text-align: left;
  padding-left: 1rem;
}

.project h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.project p {
  color: #666;
  margin-bottom: 0.5rem;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .project {
    flex-direction: column;
    align-items: center;
  }

  .projectImage {
    max-width: 90%;
    width: auto;
  }

  .projectContent {
    text-align: center;
    padding-left: 0;
  }
}
